<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Стратовая страница</title>
    <link rel="stylesheet" th:href="@{/listPages.css}"/>
    <link rel="stylesheet" th:href="@{/custom.css}"/>

<!--    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">-->

    <!-- Latest compiled and minified CSS -->

</head>
<body>
<th:block th:include="~{menu}"/>
<p>
    Это тестовая программа. В самом начале добавлен только один пользователь.
</p>
<p>
    Распределение по ролям работает только для добавления пользователя. Убедительная просьба стартового пользователя не сносить, группу не менять. Иначе потом откатить это будет невозможно.
</p>
<p>
    В самом начале заполнено только несколько подразделений и создан только один пользователь. Выйти из пользователя временно невозможно.
</p>
<p>Рекомендуется сначала заполнить  металлы, потом артикулы, дальше творить что душе угодно.</p>
<p>Логирование не подключено. Если возникает ошибка, то необходимо точно написать проделанные действия в ватсап, чтобы я смог отловить эту хрень.</p>
<p> Заказы работаю по минимуму, но главная логика реализована. Дальше буду еще в течение месяца наращивать(откат статусов и пр.) </p>
<p>Страницы ошибок будут заменены позже, а пока УДАЧИ!
</p>
</body>
</html>