<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link th:rel="stylesheet" th:href="@{/menu.css}"/>

</head>
<body class="main_menu_body">
<div >
<ul class="main_menu_ul">
    <li class="main_menu_li"><a th:href="@{/home}" class="main_menu_a"> Главная</a></li>
    <li class="main_menu_li"><a href="#" class="main_menu_a"> Заказы</a></li>
    <li class="main_menu_li"><a th:href="@{/admin/users}" class="main_menu_a"> Пользователи</a>
    <li class="main_menu_li"><a th:href="@{/admin/priorities}" class="main_menu_a"> Список приоритетов</a>
    <li class="main_menu_li"><a th:href="@{/article/metalTypes}" class="main_menu_a"> Металлы</a>
    <li class="main_menu_li"><a th:href="@{/article/minerals}" class="main_menu_a"> Вставки</a>
<!--        <ul class="main_menu_ul">-->
<!--            <li class="main_menu_li"><a th:href="" class="main_menu_a"> Список пользователей</a></li>-->
<!--            <li class="main_menu_li"><a th:href="@{/admin/register}" class="main_menu_a"> Добавить пользователя</a></li>-->
<!--        </ul>-->
    </li>
    <li class="main_menu_li"> <a th:href="@{/admin/customers}" class="main_menu_a"> Подразделения</a> </li>
</ul>
</div>
</body>
</html>