<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Добавить металл</title>
    <link rel="stylesheet" th:href="@{/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/listPages.css}"/>
    <link rel="stylesheet" th:href="@{/custom.css}"/>
</head>
<body>
<th:block th:include="/_adminMenu"/>
<form th:action="@{/article/metalType/add}" method="post" th:object="${metalType}"
      enctype="application/x-www-form-urlencoded">

    <div class="input_pages">

        <div class="form-group">
            <label for="Name">Название :</label>
            <input type="text" th:value="${metalType.metalTypeName}" th:name="metalTypeName"  class="form-control" id="Name">
            <p th:if="${#fields.hasErrors('metalTypeName')}" th:errors="*{metalTypeName}" th:class="'error'" style="color: red"> Ошибка</p>
        </div>
        <p></p>
        <div class="form-group">
            <label for="HallmarkDesc">Проба:</label>
            <input type="text" th:value="${metalType.hallmark}" th:name="hallmark"  class="form-control" id="HallmarkDesc">
            <p th:if="${#fields.hasErrors('hallmark')}" th:errors="*{hallmark}" th:class="'error'" style="color: red"> Ошибка города</p>
        </div>


        <p>
            <input type="submit">
        </p>
    </div>
</form>
</body>
</html>