<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Редактирование вставки</title>
    <link rel="stylesheet" th:href="@{/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/listPages.css}"/>
    <link rel="stylesheet" th:href="@{/custom.css}"/>
    <style>
        th {
            text-align: center;
        }
    </style>
</head>
<body>
<th:block th:include="~{menu}"/>

<form th:action="@{/order/approve}" method="post"
      enctype="application/x-www-form-urlencoded">


    <div>
        <table id="orderTable" style="font-size: 12px; text-align: center" class="table">
            <thead>
            <tr>

                <th style="text-align: center" rowspan="2">Артикул</th>
                <th rowspan="2">Металл</th>
                <th rowspan="2">Количество</th>
                <th rowspan="2">Размер</th>
                <th rowspan="2">Готово, шт.</th>
                <th colspan="2">Поступление изделий</th>
            </tr>
            <tr>
                <th>Дата</th>
                <th>Количество</th>
            </tr>

            </thead>
            <tbody>
            <div th:remove="tag" th:each="articleInOrder : ${order.getArticleInOrder()}"
                 th:with="rowCount =${articleInOrder.doneDateAndCount==null || articleInOrder.doneDateAndCount.size()==0?
                 2:articleInOrder.doneDateAndCount.size()+1}">
            <tr>

                <input type="hidden" class="form-control" th:value="${articleInOrder.articleInOrderId}" >
                    <td th:rowspan="${rowCount}" th:utext="${articleInOrder.article.getArticleName()}" th:name = "article">Артикул</td>
<!--                    <td th:rowspan="${stat.size+1}" th:utext="${order.orderNumber}" th:name = "article">Артикул</td>-->
                    <td th:rowspan="${rowCount}" th:utext="${articleInOrder.article?.metalType.metalTypeName + ' ' +
                    articleInOrder.article?.metalType.hallmark}">Металл</td>
                    <td th:rowspan="${rowCount}" th:utext="${articleInOrder.count} + ' шт.'">Количество, шт</td>
                    <td th:rowspan="${rowCount}" th:utext="${articleInOrder.size}"> Размер</td>
                    <td th:rowspan="${rowCount}" th:utext="${articleInOrder.doneCount} + ' шт.'">готово, шт</td>


                    <td th:utext="${articleInOrder.doneDateAndCount.size()>0 && articleInOrder.doneDateAndCount[0].count!=null
                    ?articleInOrder.doneDateAndCount[0].doneDate?.format(format):'нет поступлений'}"> Дата</td>
                    <td th:utext="${articleInOrder.doneDateAndCount.size()>0 && articleInOrder.doneDateAndCount[0].count!=null
                    ?articleInOrder.doneDateAndCount[0].count:'нет поступлений'}">Кол-во</td>

            </tr>
                <tr th:each="income,stat : ${articleInOrder.getDoneDateAndCount()}" th:if="${!stat.first}">
                    <td th:utext="${income.doneDate?.format(format)}"></td>
                    <td th:utext="${income.count}"></td>


                </tr>
                <th:block th:each="form,stat:${forms.approveCountFormList}" th:if="${form.articleName.equals(articleInOrder.article.articleName) &&
                articleInOrder.article.metalType == form.metalType}">
                    <tr>
                        <input type="hidden" class="form-control" th:field="${forms.approveCountFormList[__${stat.index}__].articleName}">
                        <input type="hidden" class="form-control" th:field="${forms.approveCountFormList[__${stat.index}__].metalType}">
                        <td>
                            <input type="date" th:readonly="${articleInOrder.count<articleInOrder.doneCount}" class="form-control" th:field="${forms.approveCountFormList[__${stat.index}__].date}">

                        </td>
                        <td>
                            <input type="number" th:readonly="${articleInOrder.count<articleInOrder.doneCount}" class="form-control" th:field="${forms.approveCountFormList[__${stat.index}__].count}"
                                   th:max="${articleInOrder.count}-${articleInOrder.doneCount}">
                        </td>
                    </tr>
                </th:block>
            </div>
            </tbody>
        </table>
    </div>
    <p>
    <input type="submit">
    </p>
</form>
</body>
</html>