<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <th:block th:include="/_adminMenu"/>
    <form th:action="@{/admin/customer/{id}(id=${customer.getId()})}" method="post" th:object="${customer}" enctype="application/x-www-form-urlencoded">

        <p>
            <label>
                Торговое подразделение:
                <input type="text" th:value="${customer.customerName}" th:name="customerName" />
            </label>

            <!--        <form:errors path="login" cssStyle="color: red" />-->
        </p>
        <p>
            <label>
                Город:
                <input type="text" th:value="${customer.customerCity}" name="customerCity" />
            </label>
            <!--        <form:errors path="password" cssStyle="color: red" />-->
        </p>


        <p>
            <input type="submit">
        </p>
    </form>

</body>
</html>
