<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Редактирование подразделения</title>
    <link rel="stylesheet" th:href="@{/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/listPages.css}"/>
    <link rel="stylesheet" th:href="@{/custom.css}"/>
</head>
<body>
<th:block th:include="~{_adminMenu}"/>

<form th:action="@{/admin/customer/{id}(id=${customer.getId()})}" method="post" th:object="${customer}"
      enctype="application/x-www-form-urlencoded">

   <div class="input_pages">

    <div class="form-group">
        <label for="customerName">Торговое подразделение:</label>
        <input type="text" th:value="${customer.customerName}" th:name="customerName"  class="form-control" id="customerName">
        <p th:if="${#fields.hasErrors('customerName')}" th:errors="*{customerName}" th:class="'error'" style="color: red"> Ошибка</p>
    </div>
    <p></p>
    <div class="form-group">
        <label for="customerCity">Город:</label>
        <input type="text" th:value="${customer.customerCity}" th:name="customerCity"  class="form-control" id="customerCity">
        <p th:if="${#fields.hasErrors('customerCity')}" th:errors="*{customerCity}" th:class="'error'" style="color: red"> Ошибка</p>
    </div>


    <p>
        <input type="submit">
    </p>
   </div>
</form>

</body>
</html>
