<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Редактирование пользователя</title>
    <link rel="stylesheet" th:href="@{/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/listPages.css}"/>
    <link rel="stylesheet" th:href="@{/custom.css}"/>
</head>
<body>
<th:block th:include="/_adminMenu"/>
<form th:action="@{/admin/users/{id}(id=${user.getId()})}" method="post" th:object="${user}"
      enctype="application/x-www-form-urlencoded">

    <div class="input_pages">

        <div class="form-group">
            <label for="login">Логин:</label>
            <input type="text" th:value="${user.login}" th:name="login"  class="form-control" id="login">
            <!--        <form:errors path="customerName" cssStyle="color: red" />-->
        </div>
        <p></p>
<!--        <div class="form-group">-->
<!--            <label for="UserRole">-->
<!--                <select name="role" id="UserRole">-->
<!--                    <tr th:each ="role : ${roles}">-->
<!--                        <option th:text="${role}"></option>-->
<!--                    </tr>-->
<!--                </select>-->
<!--            </label>-->
<!--        </div>-->


        <p>
            <input type="submit">
        </p>
    </div>
</form>

</body>
</html>