<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Металлы</title>
    <link rel="stylesheet" th:href="@{/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/listPages.css}"/>
    <link rel="stylesheet" th:href="@{/custom.css}"/>
</head>
<body>
<th:block th:include="/adminMenu"/>
<form  th:action="@{/article/metalTypes}" method="post" enctype="application/x-www-form-urlencoded">

    <a th:href="@{/article/metalType/add}">

        <p></p>
        <button type="button" class="btn btn-default btn-sm">
            <span class="glyphicon glyphicon-plus"></span>
        </button>

    </a>
    <div>
        <table class="table table-striped">
            <thead>
            <tr>

                <th scope="col">№</th>
                <th scope="col"></th>

                <th scope="col">Название металла</th>
                <th scope="col">Проба</th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>

            <tr th:each="metalTypeToView : ${allMetalTypesList}">
                <td th:utext="${metalTypeToViewStat.index+1}">№</td>
                <td style="vertical-align: top">

                    <a th:href="@{/article/metalType/{id}(id = ${metalTypeToView.getId()})}">
                        <button type="button" class="btn btn-default btn-sm">
                            <span class="glyphicon glyphicon-pencil"></span>
                        </button>
                    </a>

                </td>
                <td th:utext="${metalTypeToView.getMetalTypeName()}">Название</td>
                <td th:utext="${metalTypeToView.getHallmark()}">Проба</td>

                <td>
                    <a th:href="@{/article/metalType/delete/{id}(id = ${metalTypeToView.getId()})}">
                        <button type="button" class="btn btn-default btn-sm">
                            <span class="glyphicon glyphicon-remove"></span>
                        </button>
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</form>

</body>
</html>