<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Заказы</title>
    <link rel="stylesheet" th:href="@{/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/listPages.css}"/>
    <link rel="stylesheet" th:href="@{/custom.css}"/>
</head>
<body>
<th:block th:include="/_adminMenu"/>
<form  th:action="@{/orders}" method="post" enctype="application/x-www-form-urlencoded">

    <a th:href="@{/order/add}">

        <p></p>
        <button type="button" class="btn btn-default btn-sm">
            <span class="glyphicon glyphicon-plus"></span>
        </button>

    </a>
    <div>
        <table class="table table-striped">
            <thead>
            <tr>

                <th scope="col">№ заказа</th>
                <th scope="col"></th>

                <th scope="col">Приоритет</th>
                <th scope="col">Дата добавления</th>
                <th scope="col">Состояние</th>
                <th scope="col">Дата ожидаемая</th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>

            <tr th:each="ordersToView : ${orderList}">
                <td th:utext="${ordersToView.orderNumber}">№</td>
                <td style="vertical-align: top">

                    <a th:href="@{/order/{id}(id = ${ordersToView.getOrderId()})}">
                        <button type="button" class="btn btn-default btn-sm">
                            <span class="glyphicon glyphicon-pencil"></span>
                        </button>
                    </a>

                </td>
                <td th:utext="${ordersToView.getPriority()?.priorityType}">Приоритет</td>
                <td th:utext="${ordersToView.getAddOrderDate()}">Дата добавления</td>
                <td th:utext="${ordersToView.getOrderCondition()}">Состояние</td>
                <td th:utext="${ordersToView.getExpectedDate()}">Дата ожидаемая</td>

                <td>
                    <a th:href="@{/order/delete/{id}(id = ${ordersToView.getOrderId()})}">
                        <button type="button" class="btn btn-default btn-sm">
                            <span class="glyphicon glyphicon-remove"></span>
                        </button>
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</form>

</body>
</html>