<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Регистрация пользователя</title>
    <link rel="stylesheet" th:href="@{/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/listPages.css}"/>
    <link rel="stylesheet" th:href="@{/custom.css}"/>
</head>
<body>
<th:block th:include="~{menu}"/>


<form th:action="@{/admin/users/add}" method="post" enctype="application/x-www-form-urlencoded" th:object="${form}">

    <div class="input_pages">

        <div class="form-group">
            <label for="customerName">Логин:</label>
            <input type="text" th:value="${form.login}" th:name="login" class="form-control" id="customerName">
            <p th:if="${#fields.hasErrors('login')}" th:errors="*{login}" th:class="'error'" style="color: red">
                Ошибка</p>
        </div>
        <p></p>
        <div class="form-group">
            <label for="customerPassword">Пароль:</label>
            <input type="text" th:value="${form.password}" th:name="password" class="form-control" id="customerPassword">
            <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}" th:class="'error'" style="color: red">
                Ошибка города</p>
        </div>


        <div class="form-group">
            <label for="UserRole"> Уровень доступа </label>
            <select name="role" id="UserRole">
                <tr th:each="role : ${roles}">
                    <option th:text="${role}"></option>
                </tr>
            </select>
            <p th:if="${#fields.hasErrors('${form.role}')}" th:errors="*{role}" th:class="'error'"
               style="color: red"> Ошибка</p>


            <p>
                <input type="submit">
            </p>
        </div>
    </div>
</form>

</body>
</html>